* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.box{ 
    width: 200px;
    height: 200px;
    background-color: blue;
    color: white;
    /* transform: scale(1.5); */
    /* transform-origin: top left; */
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* transform: skewX(10deg); */
    /* transition-property: width; */
    /* transition-duration: 3s; */
    /* transition-delay: 2000ms; */
    /* transition-timing-function: cubic-bezier(0.59, -0.75, 0, 1.51); */
    /* transition: 
        width 3s ease-in 1s,
        height 4s linear 3s,
        background-color 500ms cubic-bezier(0.59, -0.75, 0, 1.51) 1s
    ; */
}

.box:hover {
    background-color: red;
    width: 500px;
    height: 500px;
}